[submodule "gubg.io"]
	path = gubg.io
	url = https://github.com/gfannes/gubg.io
[submodule "gubg.std"]
	path = gubg.std
	url = https://github.com/gfannes/gubg.std
[submodule "gubg.extra"]
	path = gubg.extra
	url = https://github.com/thomasfannes/gubg.extra
